.fon1{
	background-color: #18BC9C;
	width: 100%;
	height: 700px;
	position: relative;
	
}

.worker-image{
	
	width: 250px;
	height: 250px;
	background-image: url("https://www.lego.com/r/www/r/catalogs/-/media/catalogs/characters/minifigures/the%20lego%20movie/71004_portrait_gail.png?l.r=835735456");
	background-repeat: no-repeat;
	background-size: 250px auto;
	border-radius: 250px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	background-color: #2C3E50;
		
}

.worker-image:hover{
	width: 275px;
	height: 275px;
	background-size: 275px auto;
	transition: all 0.4s ease;
	
	
}

.bootstrap{
	color: #FFFFFF;
	font-size: 80px;
	font-weight: bold;
	position: absolute;
	padding: 1em;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);;
	
}
.line1{
	width: 100px;
	height: 50px;
	position: absolute;
	background-image: url("https://bit.ly/2DKdCN5");
	background-size: 100px 8px;
	background-repeat: no-repeat;
	padding: 1em;
    position: absolute;
    top: 76%;
    left: 43%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
}

.star1{
	width: 60px;
	height: 60px;
	position: absolute;
	background-image: url("https://www.freeiconspng.com/uploads/white-star-icon-13.png");
	background-size: 60px 60px;
	background-repeat: no-repeat;
	padding: 1em;
    position: absolute;
    top: 72%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
}



.line2{
	width: 100px;
	height: 50px;
	position: absolute;
	background-image: url("https://bit.ly/2DKdCN5");
	background-size: 100px 8px;
	background-repeat: no-repeat;
	padding: 1em;
    position: absolute;
    top: 76%;
    left: 57%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
}

.text-of{
	color: #FFFFFF;
	font-size:30px;
	position: absolute;
	padding: 1em;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
		
}

.fon2{
	background-color: #FFFFFF;
	width: 100%;
	height: 950px;	
	position: relative;
	
}

.portfolio{
	color: #3156A6;
	font-size: 60px;
	font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
	
}

.line3{
	width: 100px;
	height: 60px;
	position: absolute;
	background-image: url("https://www.runningimp.co.uk/slir/w464-h348-c464x348/media/catalog/product//r/o/royal-blue-12mm-ribbon.png");
	background-size: 100px 25px;
	background-repeat: no-repeat;
    top: 20%;
    left: 43%;
    margin-right: -50%;
    transform: translate(-50%, -50%);	
}

.star2{
	width: 60px;
	height: 60px;
	position: absolute;
	background-image: url("https://bit.ly/2QkjHBh");
	background-size: 60px 60px;
	background-repeat: no-repeat;
    top: 18%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}



.line4{
	width: 100px;
	height: 60px;
	position: absolute;
	background-image: url("https://www.runningimp.co.uk/slir/w464-h348-c464x348/media/catalog/product//r/o/royal-blue-12mm-ribbon.png");
	background-size: 100px 25px;
	background-repeat: no-repeat;
    top: 20%;
    left: 57%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
}

.square1{
	background-color: #B74B61;
	width: 350px;
	height: 275px;
	position: absolute;
    top: 45%;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
		
}

.picture1{
	
	width: 200px;
	height: 200px;
	background-color: #FFFFFF;
	background-image: url("http://juicep.ru/wp-content/uploads/2016/10/10-1.jpg");	
	background-size: 225px 150px;
	background-position: -5px 15px;
	background-repeat: no-repeat;
	border-radius: 1000px;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
}




.square2{
	background-color: #1FA4B6;
	width: 350px;
	height: 275px;
	position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.picture2{
	
	width: 200px;
	height: 200px;
	background-color: #FFFFFF;
	background-image: url("http://kak-narisovat.com/wp-content/uploads/2015/12/how-to-draw-pumpkin-pie-step-4_1_000000119039_3.gif");	
	background-size: 170px auto;
	background-position: 15px 30px;
	background-repeat: no-repeat;
	border-radius: 1000px;
	position: absolute;
	top: 40px;
	left: 75px;
	
	
	
}



.square3{
	background-color: #130F0F;
	width: 350px;
	height: 275px;
	position: absolute;
    top: 45%;
    left: 75%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
		
}

.picture3{
	
	width: 200px;
	height: 200px;
	background-color: #FFFFFF;
	background-image: url("https://i.pinimg.com/originals/6e/13/f3/6e13f347b5933b70f34c0e1b23e9d898.jpg");	
	background-size: 160px auto;
	background-position: 20px 12px;
	background-repeat: no-repeat;
	border-radius: 1000px;
	position: absolute;
	top: 40px;
	left: 75px;	
	
}

.square4{
	background-color: #45B39C;
	width: 350px;
	height: 275px;
	position: absolute;
    top: 77%;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
		
}

.picture4{
	
	width: 200px;
	height: 200px;
	background-color: #FFFFFF;
	background-image: url("https://st2.depositphotos.com/5934840/12180/v/950/depositphotos_121808008-stock-illustration-videogame-control-hobby-design.jpg");	
	background-size: 210px auto;
	background-position: -5px 5px;
	background-repeat: no-repeat;
	border-radius: 1000px;
	position: absolute;
	top: 40px;
	left: 75px;
		
}


.square5{
	background-color: #1037B5;
	width: 350px;
	height: 275px;
	position: absolute;
    top: 77%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
		
}

.picture5{
	
	width: 200px;
	height: 200px;
	background-color: #FFFFFF;
	background-image: url("https://bit.ly/2RhVaOG");	
	background-size: 200px auto;
	background-position: -2px -2px;
	background-repeat: no-repeat;
	border-radius: 1000px;
	position: absolute;
	top: 40px;
	left: 75px;
	
	
	
}


.square6{
	background-color: #CCB2A3;
	width: 350px;
	height: 275px;
	position: absolute;
    top: 77%;
    left: 75%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.picture6{
	
	width: 200px;
	height: 200px;
	background-color: #FFFFFF;
	background-image: url("http://cdn4.coloringcrew.com/coloring-book/coloring/military-submarine-colorear.jpg");	
	background-size: 200px auto;
	background-position: 5px 12px;
	background-repeat: no-repeat;
	border-radius: 1000px;
	position: absolute;
	top: 40px;
	left: 75px;	
	
}

.fon3{	
	background-color: #18BC9C;
	width: 100%;
	height: 600px;
	position: relative;
}

.about{
	color: #FFFFFF;
	font-size: 60px;
	font-weight: bold;
	border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 10%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
	
	
}

.text1{
	width: 350px;
	height: 350px;
	color: white;
	font-size: 25px;
    border-radius: 1em;
	padding: 1em;
    position: absolute;
    top: 50%;
    left: 35%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
		
}

.text2{
	width: 350px;
	height: 350px;
	color: white;
	font-size: 25px;
    border-radius: 1em;
	padding: 1em;
    position: absolute;
    top: 50%;
    left: 65%;
    margin-right: -50%;
    transform: translate(-50%, -50%);	
	
}

.fon4{
	background-color: #2C3E50;
	width: 100%;
	height: 100px;
	position: relative;

	
}

.copyright{
	
	font-size: 18px;
	color: #FFFFFF;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);	
}

@media screen and (max-width: 1024px){
	.fon1{
		height: 500px;
		
	}
	.fon2{
		height: 850px;
		
	}
	.fon3{
		height: 550px;
		
	}
	.fon4{
		height: 70px;
		
	}
	.worker-image{
		width: 200px;
		height: 200px;
		background-size: 200px auto;
		border-radius: 200px;
	}

	.bootstrap{
		font-size:50px; 
	}
	
	
	.line1{
		width: 75px;
		height: 25px;
		background-size: 75px 5px;
		
	}
	.line2{
		width: 75px;
		height: 25px;
		background-size: 75px 5px;
		
	}
	.star1{
		width: 40px;
		height: 40px;
		background-size: 40px 40px;
		top: 74%;

	}
	.star2{
		width: 40px;
		height: 40px;
		background-size: 40px 40px;
		top: 18.5%

	}
	.text-of{
		font-size: 22px;
	}
	
	.portfolio{
		font-size: 50px;
	}

	.line3{
		width: 75px;
		height: 40px;
		background-size: 75px 20px;
	}
	.line4{
		width: 75px;
		height: 40px;
		background-size: 75px 20px;	
	}
	.square1{
		width: 23%;
		height: 20%;
			
	}
	.square2{
		width: 23%;
		height: 20%;
			
	}	
	.square3{
		width: 23%;
		height: 20%;
			
	}	
	.square4{
		width: 23%;
		height: 20%;
			
	}		
	.square5{
		width: 23%;
		height: 20%;
			
	}		
	.square6{
		width: 23%;
		height: 20%;
			
	}	
	.picture1{
		
		width: 75%;
		height: 80%;
		background-size: 115% 70%;
		background-position: -5px 15px;
	}
	.picture2{
		
		width: 75%;
		height: 80%;
		background-size: 85% 60%;
		background-position: 10px 15px;
		left: 12.5%;
		top: 10%;
		
	}
	.picture3{
		
		width: 75%;
		height: 80%;
		background-size: 95% 75%;
		background-position: 2px 10px;
		left: 12.5%;
		top: 10%;

}	
	.picture4{
		
		width: 75%;
		height: 80%;
		background-size: 95% 75%;
		background-position: 2px 15px;
		left: 12.5%;
		top: 10%;
}	
	.picture5{
		
		width: 75%;
		height: 80%;
		background-size: 95% 75%;
		background-position: 2px 15px;
		left: 12.5%;
		top: 10%;
}	
	.picture6{
		
		width: 75%;
		height: 80%;
		background-size: 95% 75%;
		background-position: 5px 10px;
		left: 12.5%;
		top: 10%;
}
	.about{
		font-size: 45px;
	}
	.text1{
		width: 35%;
		height: 200px;
		font-size: 18px;
		top: 50%;
		left: 30%;
	   
	}
	.text2{
		width: 35%;
		height: 200px;
		font-size: 18px;
		top: 50%;
		left: 70%;
	   
	}
	.copyright{
		font-size: 14px;
		
	}
}

@media screen and (max-width: 640px){
	.fon1{
		height: 400px;
		
	}
	.fon2{
		height: 500px;
		
	}
	.fon3{
		height: 450px;
		
	}
	.fon4{
		height: 50px;
		
	}
	
	.worker-image{
		width: 175px;
		height: 175px;
		background-size: 175px auto;
		border-radius: 200px;
	}

	.bootstrap{
		font-size:35px; 
	}
	
	
	.line1{
		width: 40px;
		height: 4px;
		background-size: 40px 4px;
		
	}
	.line2{
		width: 40px;
		height: 4px;
		background-size: 40px 4px;
		
	}
	.star1{
		width: 30px;
		height: 30px;
		background-size: 30px 30px;
		top: 76%;

	}
	.star2{
		width: 30px;
		height: 30px;
		background-size: 30px 30px;
		top: 20%

	}
	.text-of{
		font-size: 15px;
	}
	
	.portfolio{
		font-size: 40px;
	}

	.line3{
		width: 40px;
		height: 20px;
		background-size: 45px 20px;
	}
	.line4{
		width: 40px;
		height: 20px;
		background-size: 45px 20px;	
	}
	.square1{
		width: 20%;
		height: 20%;
			
	}
	.square2{
		width: 20%;
		height: 20%;
			
	}	
	.square3{
		width: 20%;
		height: 20%;
			
	}	
	.square4{
		width: 20%;
		height: 20%;
			
	}		
	.square5{
		width: 20%;
		height: 20%;
			
	}		
	.square6{
		width: 20%;
		height: 20%;
			
	}	
	.picture1{
		
		width: 75%;
		height: 80%;
		background-size: 115% 70%;
		background-position: -5px 15px;
	}
	.picture2{
		
		width: 75%;
		height: 80%;
		background-size: 85% 60%;
		background-position: 10px 15px;
		left: 12.5%;
		top: 10%;
		
	}
	.picture3{
		
		width: 75%;
		height: 80%;
		background-size: 95% 75%;
		background-position: 2px 10px;
		left: 12.5%;
		top: 10%;

}	
	.picture4{
		
		width: 75%;
		height: 80%;
		background-size: 95% 75%;
		background-position: 2px 15px;
		left: 12.5%;
		top: 10%;
}	
	.picture5{
		
		width: 75%;
		height: 80%;
		background-size: 95% 75%;
		background-position: 2px 15px;
		left: 12.5%;
		top: 10%;
}	
	.picture6{
		
		width: 75%;
		height: 80%;
		background-size: 95% 75%;
		background-position: 5px 10px;
		left: 12.5%;
		top: 10%;
}
	.about{
		font-size: 30px;
	}
	.text1{
		width: 35%;
		height: 175px;
		font-size: 14px;
		top: 50%;
		left: 30%;
	   
	}
	.text2{
		width: 35%;
		height: 175px;
		font-size: 14px;
		top: 50%;
		left: 70%;
	   
	}	
	.copyright{
		font-size: 10px;
		
	}
}	